<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="AutoServiceDb"
			 connectionString="Server=localhost,1435;Database=AutoServiceDB;User Id=sa;Password=Strpo!2025passA1;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
